{% extends "layout.html" %}

{% block content %}
	{% if current_user.is_authenticated %}
		<div class = "col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<h1>{{ page }}</h1>
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
				{% include "person/form.html" %}
				<div class="form-group">
					{{ form.submit() }}
				</div>
			</form>
		</div>
		<div class = "col-sm-12 col-md-12 col-lg-6 col-xl-6">
			{% include "person/table.html" %}
		</div>
		{% else %}
			<h3>You must login to add a patient</h3>
		{% endif %}
{% endblock %}