p {
	color: var(--black);
	text-align: justify;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3 {
	color: var(--dark);
}

.nav-item {
	padding-left: 2em;
}