<!DOCTYPE html>
<html>
	<head>
		<title>{{ project.name }} - {{ page }}</title>
		
		<!-- Meta tags -->
		<meta charset = "UTF-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS stylesheets -->
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{{ url_for('static', filename='stylesheets/main.css') }}">
		
		<!-- JavaScript files -->
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</head>
	<body class = "bg-light">
		{% include "header.html" %}
		<div id = "content" class = "container-fluid bg-light">
			<div class = "row">
				<div class = "col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<br>
				</div>
				{% block content %} {% endblock %}
			</div>
		</div>
	</body>
</html>