{% block content %}
<table class = "table table-hover">
	<thead>
	    <tr>
	    	<th scope="col">Id</th>
	    	<th scope="col">Name</th>
	    	<th scope="col"></th>
	    </tr>
	</thead>
	<tbody>
		{% for element in list %}
    		<tr>
    			<td>{{ element._id }}</td>
    			<td>{{ element.name }}</td>
    			<td>
    				<a href = "/view/{{ element._id }}">
    					<button class="btn btn-primary">View</button>
    				</a>
    				<a href = "/delete/{{ element._id }}">
    					<button class="btn btn-primary">Delete</button>
    				</a>
    			</td>
    		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}